{% extends "base.html" %}

{% block content %}
    <h3>Welcome!<h3>
    
    <div class="jumbotron">

        {% for lesson in lessons %}

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="id_{{lesson.title}}">
            <label class="custom-control-label" for="id_{{lesson.title}}">
                <section style="font-size: 20px">
                <a href="{% url 'lesson' lesson.id %}">
                    {{ lesson.title }}
                </a>
                <br>
            </section>
            </label>
        </div>

        {% endfor %}
    </div>
{% endblock %}
