{% extends "base.html" %}

{% block header_extra %}
    {{ lesson.topic.title }}
{% endblock %}

{% block content %}
    {% if sublesson_begin is none %}
        <div class="alert alert-success" role="alert">
            Congratulations! You have completed this lesson. Please proceed to the next lesson. 
        </div>
    {% else %}
        <a href="{% url 'sublesson' lesson.id sublesson_begin.id %}">
            {% if start %} Begin lesson {% else %} Continue lesson {% endif %}
        </a>
    {% endif %}
{% endblock %}
