{% extends "base.html" %}

{% block header_extra %}
{{ lesson.topic.title }}
{% endblock %}

{% block content %}
<div class="text">
	<h3>{{ lesson.title }}</h3>
	<p>{{ sublesson.content|linebreaks }}</p>
</div>

{% if not correct %}
<br><br>

<h3>Example: {{ sublesson.example_title }}</h3>
{{ example|safe }}

<hr>

<!-- Button -->
<div class="container">
	{% if attempted %}
	<div class="alert alert-danger" role="alert">
		Your answer was wrong! Try again!
	</div>
	<br>
	{% endif %}

	<p>Click the button to show the practise question and answer.</p>

	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#bb">Open Practise Questions</button>
	<div id="bb" class="collapse">
	<br>

		<form action="" method="post">
			{% csrf_token %}
            <div class="form-group">
                <label for="answerInput">{{ question }}</label> =
    			<input type="text" id="answerInput" required name="answer" value={{ user_answer }}>
            </div>
			<input type="submit" class="btn btn-info" value="Submit">
		</form>
	</div>
</div>
{% else %}
<div class="alert alert-success" role="alert">
	Correct answer!
	{% if next_sublesson %}
	<a href="{% url 'sublesson' lesson.id next_sublesson.id %}">Proceed to the next lesson.</a>
	{% else %}
	Congrulations! You finished this lesson. <a href="/">Go home.</a>
	{% endif %}
</div>
{% endif %}

{% endblock %}
